DATABASE_URL=''

R2_ENDPOINT=https://something.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=something
R2_SECRET_ACCESS_KEY=something
R2_BUCKET_NAME=bucket-name
R2_PUBLIC_ENDPOINT=http://public.example.tld/